In [1]:
import pymongo

# connetion localhost mongodb
client = pymongo.MongoClient()

In [2]:
# selectionner une db
mydb = client['mabdd']
mycol = mydb['restaurants']

In [3]:
# Ecris une requête qui compte le nombre de restaurants avec un grade A

find = {'grades.grade': 'A'}
count_grade_A = mycol.count_documents(find)
print(f'Il y a {count_grade_A} grades A dans ma DB restaurants')

Il y a 0 grades A dans ma DB restaurants

In [4]:
# Ecris une requête qui trie tous les différents scores de restaurants en ordre décroissant

results = mycol.find().sort("grades.score",pymongo.DESCENDING)  
for x in results :
    print(x['grades'])

In [5]:
mycol.find_one()

In [6]:
# Ecris une requête qui trouve tous les restaurants dans lesquels les noms des villes commencent par la lettre “B”, “C” ou “D”, ou se terminent par une voyelle sauf “y”

result = mycol.find()

villes = []

for x in result :
    villes.append(x['borough'])

villes_2 = list(set(villes))

liste_villes_BCD = []

for x in range(len(villes_2)) :
    if villes_2[x][0] == "B" :
        liste_villes_BCD.append(villes_2[x])
    elif villes_2[x][0] == "C" :
        liste_villes_BCD.append(villes_2[x])
    elif villes_2[x][0] == "D" :
        liste_villes_BCD.append(villes_2[x])


print (liste_villes_BCD)

[]

In [7]:
mycol.find{'_id' : 'cuisine'}

SyntaxError: invalid syntax (3315909599.py, line 1)

In [8]:
pipe = [{'$group' : {'_id': '$borough', "count" : {'$sum' : 1 } }}]

result = mycol.aggregate(pipe)

for x in result :
    print(x)

In [ ]:
# Ecris une requête qui affiche tous les restaurants si et seulement si le score est inférieur à 20 ou égale à 25, 30, 35 et 40 (n’oubliez pas de préciser que la vérification se fasse sur chaque instance)

In [ ]:
# Ecris une requête qui fait la somme du nombre de restaurants par type de cuisine

# Ecris une requête qui ajoute le commentaire “Je gère le NoSQL” pour les boroughs dont le nom commence par “B”

# Ecris une requête qui supprime la clé “adress” des restaurants qui ont un score supérieur à 25

# Ecris une requête qui supprime tous les restaurants dont le nom de quartier est “Queens”

In [9]:
varUnwind = {'$unwind' : "$grades"}
varGroup4 = { '$group': {"_id" : "$borough", "moyenne" : {'$avg' : "$grades.score"} } }
varSort2 = {'$sort' : { "moyenne" : -1 } }

result_4 = mycol.aggregate( [ varUnwind, varGroup4, varSort2 ] )

for i in result_4:
    print(i)

*varUnwind* : Sur la variable grades  
*varGroup4* : groupe par id et borough, fait la moyenne des scores  
*varSort2* : Trie dans l'ordre décroissant

*result_4* : Calcul

*boucle for* : Affichage des résultats