### Sujet
Dans cette quête, vous utiliserez à nouveau l'ensemble de données u.data de la quête précédente.
Cette fois, votre mission est la suivante :
- écrivez une fonction PySpark, qui renvoie des informations sur le nombre de classements de films sur 4 . 
- Utilisez la fonction de filtre pour cette tâche.

In [4]:
from pyspark.sql import SparkSession
from pyspark.sql.types import StructType, StructField, IntegerType

In [2]:
spark = SparkSession.builder.appName('udata').getOrCreate()

In [5]:
# user id | item id | rating | timestamp

my_schema = StructType([
    StructField('user_id', IntegerType(), False),
    StructField('item_id', IntegerType(), False),
    StructField('rating', IntegerType(), False),
    StructField('timestamp', IntegerType(), False),
    ]
)

# cf inferSchema = True
df = spark.read.option('delimiter', '\\t').csv('u-data', schema = my_schema)
df.show()

+-------+-------+------+---------+
|user_id|item_id|rating|timestamp|
+-------+-------+------+---------+
|    196|    242|     3|881250949|
|    186|    302|     3|891717742|
|     22|    377|     1|878887116|
|    244|     51|     2|880606923|
|    166|    346|     1|886397596|
|    298|    474|     4|884182806|
|    115|    265|     2|881171488|
|    253|    465|     5|891628467|
|    305|    451|     3|886324817|
|      6|     86|     3|883603013|
|     62|    257|     2|879372434|
|    286|   1014|     5|879781125|
|    200|    222|     5|876042340|
|    210|     40|     3|891035994|
|    224|     29|     3|888104457|
|    303|    785|     3|879485318|
|    122|    387|     5|879270459|
|    194|    274|     2|879539794|
|    291|   1042|     4|874834944|
|    234|   1184|     2|892079237|
+-------+-------+------+---------+
only showing top 20 rows

In [7]:
df.printSchema()

root
 |-- user_id: integer (nullable = true)
 |-- item_id: integer (nullable = true)
 |-- rating: integer (nullable = true)
 |-- timestamp: integer (nullable = true)

In [22]:
#écrivez une fonction PySpark, qui renvoie des informations sur le nombre de classements de films qui obtiennt plus de 4 . 
#Utilisez la fonction de filtre pour cette tâche. 

df.filter(df.rating > 4) \
    .show()

+-------+-------+------+---------+
|user_id|item_id|rating|timestamp|
+-------+-------+------+---------+
|    253|    465|     5|891628467|
|    286|   1014|     5|879781125|
|    200|    222|     5|876042340|
|    122|    387|     5|879270459|
|     38|     95|     5|892430094|
|    160|    234|     5|876861185|
|    278|    603|     5|891295330|
|    287|    327|     5|875333916|
|    246|    201|     5|884921594|
|    242|   1137|     5|879741196|
|    249|    241|     5|879641194|
|     99|      4|     5|886519097|
|     25|    181|     5|885853415|
|     59|    196|     5|888205088|
|    290|    143|     5|880474293|
|     42|    423|     5|881107687|
|    138|     26|     5|879024232|
|     60|    427|     5|883326620|
|     57|    304|     5|883698581|
|    127|    229|     5|884364867|
+-------+-------+------+---------+
only showing top 20 rows