In [8]:
import pandas as pd
import numpy as np

In [2]:
# plaques de cuisson
l = 59/100
h = 4.5/100
p = 60/100

volume_plaque_cuisson = l*p*h

print(f"volume plaques de cuisson : {round(volume_plaque_cuisson,2)} m3")

#-------------------------------------

#canape angle 3 places
    #2places
l1 = ((240/3)*2)/100
h1 = 95/100
p1 = 105/100


    #meridienne + 3 ème place
l2 = (240/3)/100
h2 = 95/100
p2 = 166/100

volume_meridienne = (l2*h2*p2)
print(f"volume meridienne : {round(volume_meridienne,2)} m3")


volume_canape_angle = (l1*h1*p1) + (l2*h2*p2)
print(f"volume canape 3 places + meridienne : {round(volume_canape_angle,2)} m3")


#-------------------------------------


#canape droit
l3 = 240/100
h3 = 95/100
p3 = 105/100

volume_canape_droit_3_places = (l3*h3*p3)

une_place = volume_canape_droit_3_places/3
print(f"volume canape 1 place : {round(une_place,2)} m3")


#-------------------------------------


#pouf
l4 = 85/100
h4 = 42/100
p4 = 80/100

volume_pouf = (l4*h4*p4)

print(f"volume pouf : {round(volume_pouf,2)} m3")


#-------------------------------------


#armoire 1 porte
l5 = 79.4/100
h5 = 170.4/100
p5 = 35.7/100

volume_armoire_2_portes = (l5*h5*p5)
volume_armoire_1_porte = ((l5/2)*h5*p5)

print(f"volume armoire 1 porte : {round(volume_armoire_1_porte,2)} m3")
print(f"volume armoire 2 portes : {round(volume_armoire_2_portes,2)} m3")


#-------------------------------------


#table 2 personnes
l6 = 80/100
h6 = 73/100
p6 = 70/100

#table 4 personnes
l7 = 150/100
h7 = 77/100
p7 = 80/100

volume_table_2_personnes = (l6*h6*p6)
volume_table_4_personnes = (l7*h7*p7)

print(f"volume table 2 personnes : {round(volume_table_2_personnes,2)} m3")
print(f"volume table 4 personnes : {round(volume_table_4_personnes,2)} m3")

#test calcul
print(f"volume table 6 personnes : {round(((volume_table_4_personnes/2)*3),2)} m3")

volume plaques de cuisson : 0.02 m3
volume meridienne : 1.26 m3
volume canape 3 places + meridienne : 2.86 m3
volume canape 1 place : 0.8 m3
volume pouf : 0.29 m3
volume armoire 1 porte : 0.24 m3
volume armoire 2 portes : 0.48 m3
volume table 2 personnes : 0.41 m3
volume table 4 personnes : 0.92 m3
volume table 6 personnes : 1.39 m3

In [3]:
data = {'item': ['placard',
                 'chaise' ,
                 'table de cuisine',
                 'four micro-ondes',
                 'four seul',
                 'plaques de cuisson',
                 'chaise haute',
                 'réfrigérateur',
                 'frigo américain',
                 'congélateur',
                 'cuisinière',
                 'lave-vaisselle',
                 'téléviseur',
                 'meuble tele / hi-fi',
                 'canape droit 1 place',
                 'canape angle + meridienne / 3 places',
                 'meridienne seule',
                 'pouf',
                 'fauteuil',
                 'table basse',
                 'bibliothèque',
                 'commode',
                 'armoire 1 porte',
                 'lampe sur pied / luminaire',
                 'table 2 personnes',
                 'table 4 personnes',
                 'buffet'               

                 
                 ],
        
        'volume (m3)': [0.5,
                        0.2,
                        0.7,
                        0.5,
                        0.7,
                        0.02,
                        0.3,
                        1.5,
                        2,
                        1,
                        0.5,
                        0.5,
                        0.3,
                        0.5,
                        0.8,
                        2.9,
                        1.26,
                        0.3,
                        0.6,
                        0.3,
                        1.5,
                        1.2,
                        0.24,
                        0.25,
                        0.41,
                        1.4,
                        2,                       
                        

                        ]}

In [4]:
df = pd.DataFrame(data=data)
#df.reset_index(drop = True)
df

                                    item  volume (m3)
0                                placard         0.50
1                                 chaise         0.20
2                       table de cuisine         0.70
3                       four micro-ondes         0.50
4                              four seul         0.70
5                     plaques de cuisson         0.02
6                           chaise haute         0.30
7                          réfrigérateur         1.50
8                        frigo américain         2.00
9                            congélateur         1.00
10                            cuisinière         0.50
11                        lave-vaisselle         0.50
12                            téléviseur         0.30
13                   meuble tele / hi-fi         0.50
14                  canape droit 1 place         0.80
15  canape angle + meridienne / 3 places         2.90
16                      meridienne seule         1.26
17                                  pouf         0.30
18                              fauteuil         0.60
19                           table basse         0.30
20                          bibliothèque         1.50
21                               commode         1.20
22                       armoire 1 porte         0.24
23            lampe sur pied / luminaire         0.25
24                     table 2 personnes         0.41
25                     table 4 personnes         1.40
26                                buffet         2.00

In [10]:
#import csv

df.to_csv('items.csv', encoding='utf-8')

In [11]:
# create a list of our conditions
conditions = [(df.index <= 11), #cuisine
              (df.index > 11) & (df.index <= 23), #salon
              (df.index > 23) & (df.index <= 26), #sam
            ]


# create a list of the values we want to assign for each condition
values = ['cuisine', 'salon', 'salle à manger']

# create a new column and use np.select to assign values to it using our lists as arguments
df['pièce'] = np.select(conditions, values)

print(df)

#import csv
df.to_csv('items_with_pieces.csv', encoding='utf-8')

                                    item  volume (m3)           pièce
0                                placard         0.50         cuisine
1                                 chaise         0.20         cuisine
2                       table de cuisine         0.70         cuisine
3                       four micro-ondes         0.50         cuisine
4                              four seul         0.70         cuisine
5                     plaques de cuisson         0.02         cuisine
6                           chaise haute         0.30         cuisine
7                          réfrigérateur         1.50         cuisine
8                        frigo américain         2.00         cuisine
9                            congélateur         1.00         cuisine
10                            cuisinière         0.50         cuisine
11                        lave-vaisselle         0.50         cuisine
12                            téléviseur         0.30           salon
13                   meuble tele / hi-fi         0.50           salon
14                  canape droit 1 place         0.80           salon
15  canape angle + meridienne / 3 places         2.90           salon
16                      meridienne seule         1.26           salon
17                                  pouf         0.30           salon
18                              fauteuil         0.60           salon
19                           table basse         0.30           salon
20                          bibliothèque         1.50           salon
21                               commode         1.20           salon
22                       armoire 1 porte         0.24           salon
23            lampe sur pied / luminaire         0.25           salon
24                     table 2 personnes         0.41  salle à manger
25                     table 4 personnes         1.40  salle à manger
26                                buffet         2.00  salle à manger

In [6]:
len(df.loc[0:12])

13

In [7]:
df_select = [(df.index > 11) & (df.index <= 23)]
df.loc[12:23]

                                    item  volume (m3)  pièce
12                            téléviseur         0.30  salon
13                   meuble tele / hi-fi         0.50  salon
14                  canape droit 1 place         0.80  salon
15  canape angle + meridienne / 3 places         2.90  salon
16                      meridienne seule         1.26  salon
17                                  pouf         0.30  salon
18                              fauteuil         0.60  salon
19                           table basse         0.30  salon
20                          bibliothèque         1.50  salon
21                               commode         1.20  salon
22                       armoire 1 porte         0.24  salon
23            lampe sur pied / luminaire         0.25  salon