In [1]:
import pandas as pd

In [11]:
# plaques de cuisson
l = 59/100
h = 4.5/100
p = 60/100

volume_plaque = l*p*h
print(round(volume_plaque,2))

0.02

In [17]:
data = {'item': ['placard',
                 'chaise' ,
                 'table de cuisine',
                 'four micro-ondes',
                 'four seul',
                 'plaques de cuisson',
                 'chaise haute',
                 'réfrigérateur',
                 'frigo américain',
                 'congélateur',
                 'cuisinière',
                 'lave-vaisselle'],
        
        'volume (m3)': [0.5,
                        0.2,
                        0.7,
                        0.5,
                        0.7,
                        0.02,
                        0.3,
                        1.5,
                        2,
                        1,
                        0.5,
                        0.5]}

In [18]:
df = pd.DataFrame(data=data)
df

                  item  volume (m3)
0              placard         0.50
1               chaise         0.20
2     table de cuisine         0.70
3     four micro-ondes         0.50
4            four seul         0.70
5   plaques de cuisson         0.02
6         chaise haute         0.30
7        réfrigérateur         1.50
8      frigo américain         2.00
9          congélateur         1.00
10          cuisinière         0.50
11      lave-vaisselle         0.50

In [ ]:
df["pièce"] = 'cuisine'