## Part One

In [1]:
from pyspark.sql import SparkSession

In [2]:
spark = SparkSession.builder.appName('Basics').getOrCreate()

Permet de lire le fichier :méthode READ

In [3]:
df = spark.read.json('2_people.json')

In [4]:
df.show()

+----+-------+
| age|   name|
+----+-------+
|null|Michael|
|  30|   Andy|
|  19| Justin|
+----+-------+

Pour obtenir : Racine, nom de colonne puis le type de données

In [5]:
df.printSchema()

root
 |-- age: long (nullable = true)
 |-- name: string (nullable = true)

Connaître le nom des colonnes

In [6]:
df.columns
df.print

['age', 'name']

Description du Dataframe

In [7]:
df.describe()

DataFrame[summary: string, age: string, name: string]

In [8]:
df.describe().show()

+-------+------------------+-------+
|summary|               age|   name|
+-------+------------------+-------+
|  count|                 2|      3|
|   mean|              24.5|   null|
| stddev|7.7781745930520225|   null|
|    min|                19|   Andy|
|    max|                30|Michael|
+-------+------------------+-------+

Pour structurer la donnée, si l'on rencontre des problèmes  
Pour faire son propre schéma

In [9]:
from pyspark.sql.types import (StructField, StringType, IntegerType, StructType)

In [10]:
data_schema = [StructField('age', IntegerType(), True),
                StructField('name',StringType(), True)]

In [11]:
final_struc = StructType(fields=data_schema)

In [12]:
df = spark.read.json('2_people.json',schema=final_struc)

In [13]:
#mon age sera un integer et mon nom est bien un string
df.printSchema()

root
 |-- age: integer (nullable = true)
 |-- name: string (nullable = true)

## Part Two

In [15]:
type(df['age'])

pyspark.sql.column.Column

In [18]:
df.select('age')

DataFrame[age: int]

In [19]:
df.select('age').show()

+----+
| age|
+----+
|null|
|  30|
|  19|
+----+

In [20]:
type(df.select('age'))

pyspark.sql.dataframe.DataFrame

In [23]:
print(df.head(2))
print(df.head(2)[0])
print(type(df.head(2)[0]))

[Row(age=None, name='Michael'), Row(age=30, name='Andy')]
Row(age=None, name='Michael')
<class 'pyspark.sql.types.Row'>

In [27]:
#sélectionner une liste de colonne
df.select(['age','name']).show()

+----+-------+
| age|   name|
+----+-------+
|null|Michael|
|  30|   Andy|
|  19| Justin|
+----+-------+

In [29]:
# créer une nouvelle colonne avec le contenu d'une autre

df.withColumn('new_column',df['age']).show()

+----+-------+----------+
| age|   name|new_column|
+----+-------+----------+
|null|Michael|      null|
|  30|   Andy|        30|
|  19| Justin|        19|
+----+-------+----------+

In [31]:
# le resultat de la nouvelle colonne est la colonne age *2
#attention, pour que ce soit enregistré réellement il faut le mettre dans une variable

df.withColumn('double_age',df['age']*2).show()

+----+-------+----------+
| age|   name|double_age|
+----+-------+----------+
|null|Michael|      null|
|  30|   Andy|        60|
|  19| Justin|        38|
+----+-------+----------+

In [33]:
#notre tableau de base n'est pas modifié

df.show()

+----+-------+
| age|   name|
+----+-------+
|null|Michael|
|  30|   Andy|
|  19| Justin|
+----+-------+

In [34]:
#renommer une colonne

df.withColumnRenamed('age','my_new_age').show()

+----------+-------+
|my_new_age|   name|
+----------+-------+
|      null|Michael|
|        30|   Andy|
|        19| Justin|
+----------+-------+

## Avancés

In [35]:
#créer une vue temporaire

df.createOrReplaceTempView('people')

In [38]:
# exécutez une requête SQL avec spark

results = spark.sql("SELECT * FROM people")
results.show()

+----+-------+
| age|   name|
+----+-------+
|null|Michael|
|  30|   Andy|
|  19| Justin|
+----+-------+

In [40]:
new_results = spark.sql ("SELECT * FROM people WHERE age =30")
new_results.show()

+---+----+
|age|name|
+---+----+
| 30|Andy|
+---+----+