### Définition - C'est quoi une fonction LAMBDA ?
Une fonction lambda est comme n'importe quelle fonction python normale, sauf qu'elle n'a pas de nom lors de sa définition et qu'elle est contenue dans une ligne de code.  
    <span style="color: #999900">**Argument(s) lambda : expression**</span>  

Une fonction lambda évalue une expression pour un argument donné.  
Vous donnez une <span style="color: #999900">**valeur (argument)**</span>  à la fonction, puis fournissez <span style="color: #999900">**l'opération (expression)**</span>.    
Le mot-clé <span style="color: #999900">**lambda**</span> doit venir en premier.  
Un deux-points complet <span style="color: #999900">**(:)**</span> sépare <span style="color: #999900">**l'argument**</span> et <span style="color: #999900">**l'expression**</span>.  

Dans l'exemple de code ci-dessous, <span style="color: #999900">**x est l'argument**</span> et <span style="color: #999900">**x+x est l'expression**</span>.

In [28]:
#Fonction python normale 
def a_name(x): 
    return x+x

#Fonction 
lambda x : x+x

### <span style="color: #999900">**Avantages**</span>  

- Pour les opérations logiques simples qui sont faciles à comprendre. Cela rend également le code plus lisible.  
- Quand vous voulez une fonction que vous n'utiliserez qu'une seule fois.  
  

### <span style="color: #999900">**Inconvénients**</span>
- Elles ne peuvent effectuer qu'une seule expression.  
- Il n'est pas possible d'avoir plusieurs opérations indépendantes dans une fonction lambda.  
- Mauvais pour les opérations qui s'étendraient sur plus d'une ligne dans une def fonction normale (par exemple, les opérations conditionnelles imbriquées).  
- Si vous avez besoin d'une minute ou deux pour comprendre le code, utilisez plutôt une fonction nommée.  
- Vous ne pouvez pas écrire une doc-string pour expliquer toutes les entrées, opérations et sorties comme vous le feriez dans une def fonction normale.

### 1 - Valeurs scalaires

In [29]:
(lambda x : x*2)(12)

# J'explique : 
# lambda => nom de la fonction
# x à définir
# x sera * par 2
#(12) sera la valeur de x
# le résultat sera donc 24

24

### 2 - Listes

#### <span style="color: #999900">**Filtre()**</span>  

- Il s'agit d'une bibliothèque Python intégrée qui ne renvoie que les valeurs correspondant à certains critères.
- La syntaxe est <span style="color: #999900">**filter(function, iterable)**</span>.  
- L'itérable peut être n'importe quelle séquence telle qu'une liste, un ensemble ou un objet de série (voir ci-dessous).  

L'exemple ci-dessous filtre une liste pour les evennombres.  
Notez que la fonction de filtrage renvoie un "objet filtre" et que vous devez l'encapsuler dans une liste pour renvoyer les valeurs.

In [30]:
list_1 = [1,2,3,4,5,6,7,8,9]

filter(lambda x: x%2==0, list_1)

### Results (objet):
# = filter at 0xf378982348

In [31]:
#placé dans une liste pour renvoyer les valeurs
list(filter(lambda x: x%2==0, list_1))

###Results
#[2, 4, 6, 8]

[2, 4, 6, 8]

#### <span style="color: #999900">**Map()**</span>  

- Ceci est une autre bibliothèque python intégrée avec la syntaxe <span style="color: #999900">**map(function, iterable)**</span>.  
- Cela renvoie une liste modifiée où chaque valeur de la liste d'origine a été modifiée en fonction d'une fonction. 

L'exemple ci-dessous cubed chaque numéro de la liste.

In [32]:
list_1 = [1,2,3,4,5,6,7,8,9] # itérable

cubed = map(lambda x: pow(x,3), list_1)

list(cubed)

###Results
#[1, 8, 27, 64, 125, 216, 343, 512, 729]

[1, 8, 27, 64, 125, 216, 343, 512, 729]

#### <span style="color: #999900">**3. Series object**</span>  

- Un objet Series est une colonne dans un bloc de données, ou en d'autres termes, une séquence de valeurs avec des indices correspondants.
- Les fonctions Lambda peuvent être utilisées pour manipuler des valeurs à l'intérieur d'une trame de données Pandas.  

Créons une trame de données factice sur les membres d'une famille.

In [33]:
import pandas as pd

df = pd.DataFrame({
    'Name': ['Luke','Gina','Sam','Emma'],
    'Status': ['Father', 'Mother', 'Son', 'Daughter'],
    'Birthyear': [1976, 1984, 2013, 2016],
})
df

   Name    Status  Birthyear
0  Luke    Father       1976
1  Gina    Mother       1984
2   Sam       Son       2013
3  Emma  Daughter       2016

##### <span style="color: #999900">Lambda avec la fonction Apply() par Pandas.</span>  


- Cette fonction applique une opération à chaque élément de la colonne.
- Pour obtenir l'âge actuel de chaque membre, nous soustrayons son année de naissance de l'année en cours. 
- Dans la fonction lambda ci-dessous, x fait référence à une valeur dans la colonne de l'année de naissance et l'expression est 2021(current year) moins la valeur.

In [34]:
#création de la colonne âge égale à ...
df['age'] = df['Birthyear'].apply(lambda x : 2021-x)
df

#ici, x est df['Birthyear']

   Name    Status  Birthyear  age
0  Luke    Father       1976   45
1  Gina    Mother       1984   37
2   Sam       Son       2013    8
3  Emma  Daughter       2016    5

##### <span style="color: #999900">Lambda avec la fonction Filter() de Python .</span>  
- Cela prend 2 arguments :
    - le premier est une fonction lambda avec une expression de condition, 
    - le deuxième un itérable qui pour nous est un objet de série.  

Il renvoie une liste de valeurs qui satisfont la condition.

In [35]:
list(filter(lambda x: x>18, df['age']))

###Results
#[45, 37]

[45, 37]

##### <span style="color: #999900">Lambda avec la fonction Map() par Pandas.</span>  

 - Map fonctionne très bien comme apply() en ce sens qu'il modifie les valeurs d'une colonne en fonction de l'expression.

In [36]:
#Double the age of everyone

df['double_age'] = df['age'].map(lambda x: x*2)
df

   Name    Status  Birthyear  age  double_age
0  Luke    Father       1976   45          90
1  Gina    Mother       1984   37          74
2   Sam       Son       2013    8          16
3  Emma  Daughter       2016    5          10

- Nous pouvons également effectuer des opérations conditionnelles qui renvoient différentes valeurs en fonction de certains critères.  
- Le code ci-dessous renvoie 'Male' si la valeur Status est père ou fils, et renvoie 'Female' sinon.  
- otez que apply et map sont interchangeables dans ce contexte.

In [37]:
#Conditional Lambda statement

df['Gender'] = df['Status'].map(lambda x: 'Male' if x=='father' or x=='son' else 'Female')
df

   Name    Status  Birthyear  age  double_age  Gender
0  Luke    Father       1976   45          90  Female
1  Gina    Mother       1984   37          74  Female
2   Sam       Son       2013    8          16  Female
3  Emma  Daughter       2016    5          10  Female

#### <span style="color: #999900">**Lambda sur l'objet Dataframe**</span>  

- Par exemple, arrondir toutes les valeurs à 1 décimale, auquel cas toutes les colonnes doivent être de type float ou int car round() ne peut pas fonctionner sur les chaînes.

In [38]:

df.apply(lambda x:round(x,1))
df

##Renvoie une erreur si certaines colonnes ne sont pas numériques

TypeError: can't multiply sequence by non-int of type 'float'

- Dans l'exemple ci-dessous, nous utilisons apply sur un dataframe et sélectionnons les colonnes à modifier dans la fonction Lambda.  
- Notez que nous devons utiliser axis=1 ici pour que l'expression soit appliquée colonne par colonne.

In [39]:
#convert to lower-case

df[['Name','Status']] = df.apply(lambda x: x[['Name','Status']].str.lower(), axis=1)
df

   Name    Status  Birthyear  age  double_age  Gender
0  luke    father       1976   45          90  Female
1  gina    mother       1984   37          74  Female
2   sam       son       2013    8          16  Female
3  emma  daughter       2016    5          10  Female

#### <span style="color: #999900">**Discouraged use cases**</span>  

 1. Attribution d'un nom à une fonction Lambda. 

Ceci est déconseillé dans le guide de style Python PEP8 car Lambda crée une fonction anonyme qui n'est pas destinée à être stockée.  
Utilisez plutôt une fonction normale def si vous souhaitez stocker la fonction pour la réutiliser.

In [40]:
#Bad
triple = lambda x: x*3

#Good
def triple(x):
     return x*3

#### <span style="color: #999900">**Discouraged use cases**</span>  

 2. Passer des fonctions à l'intérieur des fonctions Lambda.  
 
 L'utilisation de fonctions telles que "abs" qui ne prennent qu'un seul argument numérique n'est pas nécessaire avec Lambda, car vous pouvez directement transmettre la fonction à map() ou apply().  
 Idéalement, les fonctions à l'intérieur des fonctions lambda doivent prendre deux arguments ou plus.  
 Les exemples sont pow(number,power)et round(number,ndigit).  
 Vous pouvez expérimenter diverses fonctions python intégrées pour voir celles qui ont besoin des fonctions Lambda dans ce contexte .

In [42]:
#Bad
map(lambda x:abs(x), list_3)

#Good
map(abs, list_3)

#Good
map(lambda x: pow(x, 2), float_nums)

NameError: name 'list_3' is not defined

#### <span style="color: #999900">**Utilisation des fonctions Lambda lorsque plusieurs lignes de code sont plus lisibles**</span>  

Passer des fonctions à l'intérieur des fonctions Lambda.  
 
 - Par exemple, lorsque vous utilisez des instructions if-else dans la fonction lambda.  
 - Les mêmes résultats peuvent être obtenus avec le code complet et c'est plus compréhensible

In [43]:
#Conditional Lambda statement

df['Gender'] = df['Status'].map(lambda x: 'Male' if x=='father' or x=='son' else 'Female')

In [44]:
df

   Name    Status  Birthyear  age  double_age  Gender
0  luke    father       1976   45          90    Male
1  gina    mother       1984   37          74  Female
2   sam       son       2013    8          16    Male
3  emma  daughter       2016    5          10  Female

#### <span style="color: #999900">**4. Exemples**</span>

In [45]:
(lambda a : a + 10)(5)

15

In [46]:
(lambda a, b : a * b)(5,6)

30

In [47]:
(lambda a, b ,c : a + b+ c)(5,6,2)

13

In [48]:
def myfunc(n):
  return lambda a : a * n

In [49]:
def myfunc(n):
  return lambda a : a * n

mydoubler = myfunc(2)

print(mydoubler(11))

22

In [50]:
def myfunc(n):
  return lambda a : a * n

mydoubler = myfunc(2)
mytripler = myfunc(3)

print(mydoubler(11))
print(mytripler(11))

22
33