In [1]:
import pandas as pd

In [11]:
#index col 0 permet de laisser la colonne Unnamed comme index
df = pd.read_csv('C:/Users/cathe/Documents/WCS-2022-2023/VS_code/Wild-Data-Engineer-2022-2023/Titre CDA v2/items.csv',index_col=0)
df.head()

               item  volume (m3)
0           placard          0.5
1            chaise          0.2
2  table de cuisine          0.7
3  four micro-ondes          0.5
4         four seul          0.7